@media screen and (min-width: 900px) {
  /* … */
}

#bottom {
  display: grid;
  grid-row: 2;
  grid-template-columns: var(--sidebar-width) var(--center-width) var(--sidebar-width);
}

#left,
#right {
  width: var(--sidebar-width);
}

#center {
  display: grid;
  grid-column: 2;
}

#board,
#confirm-modal {
  background-color: black;
  border: 1px solid var(--light-gold);
  border-radius: 10px;
  margin: auto;
  width: var(--board-width);
}

#board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: var(--board-height);
}

#confirm-modal {
  color: var(--light-gold);
  height: 25vh;
  margin-top: 15vh;
  position: relative;
  width: var(--board-width);
}

.modal-close {
    right: 0.5rem;
    position: absolute;
}

#confirm-modal-submit {
  background-color: var(--light-gold);
  border: var(--dark-gold);
  border-radius: 10px;
  color: black;
  margin: auto;
  padding: 1vw;
  width: fit-content;
}
