#top-modal {
  grid-column: 2;
  grid-row: 1;
}

#top-modal {
  background-color: black;
  border: 1px solid var(--light-gold);
  border-radius: 10px;
  color: var(--light-gold);
  grid-column: 2;
  height: calc(var(--top-height) - 1rem);
  margin: auto;
  width: var(--board-width);
  z-index: 1;
}

.modal-content {
  align-items: center;
  display: grid;
  font-size: larger;
  font-weight: bold;
  height: 100%;
  text-align: center;
  width: 100%;
}

#confirm-modal,
#help-modal {
  background-color: #000;
  border: 1px solid var(--light-gold);
  border-radius: 10px;
  color: var(--light-gold);
  font-size: larger;
  height: 50vh;
  margin: 5vh auto auto;
  position: relative;
  width: 50vw;
}

.modal-close {
  font-size: xx-large;
    right: 0.5rem;
    position: absolute;
}

#confirm-modal-submit,
#help-modal-submit {
  background-color: var(--light-gold);
  border: var(--dark-gold);
  border-radius: 10px;
  color: black;
  margin: auto;
  padding: 0.5vw 1vw;
  width: fit-content;
}

#offer-modal {
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: var(--board-height);
  margin: auto;
  width: var(--board-width);
}

#offer-text {
  background: var(--gold-gradient);
  background-clip: text;
  filter: brightness(120%);
  font-size: xx-large;
  font-weight: 900;
  margin: 0 auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#offer-modal-amount {
  background: var(--gold-gradient);
  border-radius: 5px;
  font-size: xx-large;
  font-weight: 900;
  height: 10%;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

#offer-modal-btns {
  align-items: center;
  display: flex;
  height: 15%;
  justify-content: space-between;
  margin: 10px auto;
  width: 95%;
}

#offer-modal-accept,
#offer-modal-refuse {
  align-items: center;
  border-radius: 5px;
  color: ivory;
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  height: var(--cell-height);
  justify-content: center;
  padding: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  width: 40%;
}

#offer-modal-accept {
  background: var(--green-gradient);
}

#offer-modal-refuse {
  background: var(--red-gradient);
}

#offer-modal-or {
  align-items: center;
  color: ivory;
  display: flex;
  filter: brightness(80%);
  font-size: x-large;
  font-weight: bolder;
  height: var(--cell-height);
}
