#top-modal {
  grid-column: 2;
  grid-row: 1;
}

#top-modal {
  background-color: black;
  border: 1px solid var(--light-gold);
  border-radius: 10px;
  color: var(--light-gold);
  grid-column: 2;
  height: calc(var(--top-height) - 1rem);
  margin: auto;
  width: var(--board-width);
  z-index: 1;
}

.modal-content {
  align-items: center;
  display: grid;
  font-size: larger;
  font-weight: bold;
  height: 100%;
  text-align: center;
  width: 100%;
}

#confirm-modal,
#help-modal,
#open-case-modal,
#end-game-modal {
  background-color: #000;
  border: 1px solid var(--light-gold);
  border-radius: 10px;
  color: var(--light-gold);
  font-size: larger;
  height: 50vh;
  margin: 5vh auto auto;
  position: relative;
  width: 50vw;
}

.modal-close {
  font-size: xx-large;
    right: 0.5rem;
    position: absolute;
}

#confirm-modal-submit,
#help-modal-submit,
#end-game-modal-submit {
  background-color: black;
  border: 2px solid var(--light-gold);
  border-radius: 10px;
  color: var(--light-gold);
  margin: auto;
  padding: 0.5vw 1vw;
  width: fit-content;
}

#offer-modal {
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: var(--board-height);
  margin: auto;
  width: var(--board-width);
}

#offer-text {
  background: var(--gold-gradient);
  background-clip: text;
  filter: brightness(120%);
  font-size: xx-large;
  font-weight: 900;
  margin: 0 auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#offer-modal-amount {
  background: var(--gold-gradient);
  border-radius: 5px;
  font-size: xx-large;
  font-weight: 900;
  height: 10%;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

#offer-modal-btns {
  align-items: center;
  display: flex;
  height: 15%;
  justify-content: space-between;
  margin: 10px auto;
  width: 95%;
}

#offer-modal-accept,
#offer-modal-refuse {
  align-items: center;
  border-radius: 5px;
  color: ivory;
  cursor: pointer;
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  height: var(--cell-height);
  justify-content: center;
  padding: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  width: 40%;
}

#offer-modal-accept:hover,
#offer-modal-refuse:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .7), 0 0 20px rgba(255, 255, 255, .4);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#offer-modal-accept {
  background: var(--green-gradient);
}

#offer-modal-refuse {
  background: var(--red-gradient);
}

#offer-modal-or {
  align-items: center;
  color: ivory;
  display: flex;
  filter: brightness(80%);
  font-size: x-large;
  font-weight: bolder;
  height: var(--cell-height);
}

#open-case-modal {
  margin: auto;
}

#guessed-case {
  background-position: 50%;
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

#guessed-case:hover {
    opacity: 1;
}

#guessed-case-number {
  color: black;
  display: flex;
  font-size: 20vh;
  height: 50%;
  margin: auto;
}

#guessed-case-amount {
  align-items: center;
  animation-name: fadeIn2;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  background: #000;
  border-radius: 10px;
  display: flex;
  font-size: xx-large;
  height: 60%;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 58%;
  transform: translate(-50%,-50%);
  width: 35vh;
}
