.prize-cell {
  background: var(--gold-gradient);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  height: var(--cell-height);
  margin: 5px;
}

.prize-select {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}
