@import './global.css';
@import './top.css';
@import './cases.css';
@import './bottom.css';
@import './prizes.css';
@import './modals.css';

/* Main container */
#container {
  background-image: url('/background-tall.jpg');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: var(--top-height) var(--bottom-height);
  height: 100vh;
  width: 100vw;
}

#overlay-black {
  animation-name: fadeIn1;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  background-color:black;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index:1;
}

@keyframes fadeIn1 {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none!important;
}

.hideVisibility {
  visibility: hidden;
}

.muted {
  background: var(--muted);
}

.black {
  background-color: black;
}

.btn:hover {
  background-color: var(--light-gold)!important;
  color: black!important;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  #container {
    background-image: url('/background.jpg');
    background-size: cover;
  }
}
