@import './global.css';
@import './top.css';
@import './cases.css';
@import './bottom.css';
@import './prizes.css';

/* Main container */
#container {
  background-image: url('/background.jpg');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: var(--top-height) var(--bottom-height);
  height: 100vh;
  width: 100vw;
}

#overlay-black{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index:1;
  background-color:black;
  animation-name:fadeIn;
  animation-duration:3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.hidden {
  display: none!important;
}

.muted {
  background: var(--muted);
}

.btn:hover {
  background-color: black!important;
  color: var(--light-gold)!important;
  cursor: pointer;
}
